h1 {
    text-align: center;
    color: #f3d14a;
}
h2 {
    text-align: center;
    color: #41006d;
}
h3, h4 {
    color: #4f0084;
}
.service-schedule-rightside-content {
    display: block;
    text-align: right;
    color: #41006d;
    padding-right: 40px;
} 
.service-schedule {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}
.giving-img {
    text-align: center;
}
.header {
    text-align: center;
}